[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
flask = "*"
python-telegram-bot = "==22.3"
environs = ">=14.2.0"
instaloader = {git = "https://github.com/denyshon/instaloader.git", ref = "tg-load"}
browser-cookie3 = {git = "https://github.com/denyshon/browser_cookie3.git", ref = "tg-load"}
yt-dlp = ">=2025.8.22"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.13"
